# Sanal ortam klasörü
venv/

# Python cache dosyaları
__pycache__/
*.py[cod]
*$py.class

# Çeşitli işletim sistemi dosyaları
.DS_Store
Thumbs.db

# Log dosyaları
*.log

# JSON dosyaları hariç, örnek olarak saklayacağız
*.json
!*.weather.json
!*.weather.json

# main.spec dosyasını dışarıda bırak
main.spec

# dist ve build klasörlerini dışarıda bırak
dist/
build/